.vscode/**
.vscode-test/**
src/**
!dist/**
node_modules/**
.gitignore
tsconfig.json
tsconfig.test.json
esbuild.mjs
eslint.config.mjs
.prettierrc
.eslintrc.json
**/*.test.ts
**/test/**
dist-test/**
.github/**
FEATURES.md
PLAN.md
.husky/**
c8-report/**
